.counter-container {
    display: flex;
    flex-direction: column;
    border: 5px solid #a7c0ff;
    border-radius: 15px;
    padding: 15px;
}

.start-end-container {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
}

.start-end-container > input {
    background-color: #a7c0ff;
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 10px;
}

.value-container {
    width: 100%;
    background-color: #a7c0ff;
    border-radius: 15px;
    flex-grow: 1;
    margin-bottom: 15px;
    text-align: center;
}

.value {
    font-size: 7em;
    line-height: 2;
    vertical-align: middle;
    font-weight: bold;
}

.red {
    color: red;
}

.start-end-container .red-input {
    background-color: red;
    border: 1px solid #350606;
    color: white;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 5px solid #a7c0ff;
    border-radius: 15px;
    padding: 15px;
    gap: 15px;
}

