* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2a67;
}

.error {
  margin-bottom: 25px;
  padding: 15px;
  font-weight: 800;
  color: white;
  border: 2px solid red;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 1.5s ease-out;
}

.hide {
  opacity: 0;
}
